<section>
	<h1>{{conversionDetails.name + title}}</h1>
	<form>
		<div class="form-group">
			<label>Convert <strong>from</strong>:</label>
			<select ng-model="conversion.from" ng-init="conversion.from = '-1'" ng-change="getConversionRates(conversion.from)">
				<option value="-1">Please select</option>
				<option ng-repeat="subType in conversionDetails.subTypes" value="{{ subType.name }}">
					{{ subType.name + ' (' + subType.unit + ')' }}
				</option>
			</select>
		</div>
		<div class="form-group">
			<label>Convert <strong>to</strong>:</label>
			<select ng-model="conversion.to" ng-init="conversion.to = '-1'" ng-disabled="conversion.from === '-1'">
				<option value="-1">Please select</option>
				<option ng-repeat="subType in conversionDetails.subTypes" value="{{ subType.name }}" ng-disabled="conversion.from === subType.name">
					{{ subType.name + ' (' + subType.unit + ')' }}
				</option>
			</select>
		</div>
		<div class="form-group">
			<label>Please enter a value to convert:</label>
			<input type="number" ng-model="conversion.value" ng-init="conversion.value = ''" ng-disabled="conversion.to === '-1'" />
		</div>
		<p ng-show="conversion.value !== '' && conversion.from !== '-1' && conversion.to !== '-1'">
			Converting
			<strong ng-bind="conversion.value"></strong>
			<strong ng-bind="conversion.from"></strong>
			to
			<strong ng-bind="conversion.to"></strong>
			=
			<strong>{{ correctDecimalValue(conversion.value, conversionRates[conversion.to]) }}</strong>
			<span ng-bind="conversion.to"></span>
		</p>
	</form>
	<a href="#/" class="btn btn-default">Back</a>
</section>