<section class="jumbotron">
	<h1>{{ title }}</h1>
	<p>{{ introText }}</p>
</section>
<section class="col-md-4">
	<div class="panel panel-default">
		<header class="panel-heading">
			<h2 class="panel-title"> {{ usage.heading }} </h2>
		</header>
		<div class="panel-body">
			<p>{{ usage.detail }}</p>
			<ol class="list-group">
				<li class="list-group-item" ng-repeat="step in usage.steps">
					{{ step.text }}
					<span class="badge">
						<i class="glyphicon glyphicon-{{step.icon}}"></i>
					</span>
				</li>
			</ol>
		</div>
	</div>
</section>
<section class="col-md-8">
	<div class="panel panel-default">
		<header class="panel-heading">
			<h2 class="panel-title">Please select your conversion below:</h2>
		</header>
		<div class="panel-body">
			<ul>
				<li ng-repeat="conversionType in conversionTypes">
					<a href="#/conversion?type={{ conversionType.name }}">{{ conversionType.name }}</a>
				</li>
			</ul>
		</div>
	</div>
</section>